<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics_head.html %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>


          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
          <article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <img src="images/LogoBlack.png" style="display: block; margin-left: auto; margin-right: auto;">
  </div>
    
  <div class="entry">
    <p>Ben, Uday, and Guy founded BUG Studios after graduating from UCSD in 2023. At UCSD, Ben and Uday served as co-heads of the Audio Engineering department for KSDT Radio. Guy served as the head of UCSD’s Producer’s Club, and all three were heavily involved in UCSD’s music community. Towards the end of their education, they recognized that the resources much of their community relied on would be inaccessible after graduation, and set out to find a solution. Their goal was to establish a studio space that could be a resource for musical projects. BUG Studios is now a functional recording studio and creative space for musicians and other artists. Formally opening in April of 2024, they hope to help enrich the local San Diego music community.</p>
    <br>
    <p>BUG Studios has the capability to take on your next project! We have recording capability for Live Drums, Bass, Guitar, Vocals, Piano, and much more!</p> 
    <br>
    <p>For more information and inquiries, please reach out to us through the contact form below. We would love to discuss how BUG Studios can help you achieve your next project!</p>
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xzbnyrlj" method="post">
      <fieldset id="fs-frm-inputs">
        <label for="full-name">Full Name</label>
        <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
        <label for="email-address">Email Address</label>
        <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
        <label for="message">Message</label>
        <textarea rows="5" name="message" id="message" placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus." required=""></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      </fieldset>
      <input type="submit" value="Submit">
    </form>
  </div>

  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->
            
</article>
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
